<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@charlieegan3" />
    <meta name="twitter:title" content="<%= current_page.data.title || "charlieegan3"%>" />
    <meta name="twitter:description" content="Blog post by charlieegan3" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/754990400042049537/QCD74wRs_400x400.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <title>
      <%= content_blocks[:title].present? ? yield_content(:title) : "charlieegan3" %>
    </title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", async: true %>
  </head>
  <body class="bg-near-white">
    <div class="fixed z-max w05 bg-dark-gray left-0 top-0 bottom-0"></div>
    <div class="fixed z-max w05 bg-dark-gray right-0 top-0 bottom-0"></div>
    <div class="fixed z-max h05 bg-dark-gray top-0 left-0 right-0"></div>
    <div class="fixed z-max h05 bg-dark-gray bottom-0 left-0 right-0"></div>

    <h1 class="raleway b f2 f1-ns ttu ph3 pt2-ns">
      <% link_to "/" do %>
      <%= yield_content(:page_title) %>
      <% end %>
    </h1>

    <p class="sans-serif ph3 mb3">
      <%= yield_content(:page_subtitle) %>
    </p>

    <div class="ph3">
      <%= yield %>
    </div>
  </body>
</html>
