<% content_for :title do %>
  <%= current_page.data.title %>
<% end %>

<% wrap_layout :layout do %>
  <% link_to current_page.url do %>
    <%= current_page.data.title %>
  <% end %>

  <p><%= ordinalized_date(current_page.data.date, true) %></p>

  <%= yield %>

  <p><%= link_to "blog index", "/blog" %></p>
<% end %>
