<!doctype html>
<html lang="en" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <%= partial("partials/twitter_meta_tags") %>

    <title><%= current_page.data.title || "Blog Post" %> - charlieegan3</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", async: true %>
  </head>

  <body>
    <%= partial("partials/header") %>

    <div id="main" role="main" class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="post">
            <h1 class="post-header">
              <% link_to current_page.data.path do %>
                <%= current_page.data.title %>
              <% end %>
            </h1>

            <p class="post-date"><%= ordinalized_date(current_page.data.date, true) %></>

            <%= yield %>

            <hr/>

            <p><%= link_to "blog index", "/blog" %></p>
          </div>
        </div>
      </div>
    </div>

    <%= partial("partials/footer") %>
  </body>
</html>
