<% content_for :title do %>
  <%= current_page.data.title %> - charlieegan3
<% end %>

<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% wrap_layout :layout do %>
  <%= partial "partials/_top_menu" %>

  <div class="mh1-ns measure-wide">
    <h2 class="f3 f2-ns raleway mv4">
      <% link_to current_page.url, class: "justify dib bl bw2 b--silver pl2 bg-animate hover-bg-light-gray" do %>
        <%= current_page.data.title %>
      <% end %>
      <span class="f7">
        <%= ordinalized_date(current_page.data.date, true) %>
      </span>
    </h2>
  </div>

  <div class="post-content mh1-ns">
    <%= anchor_titles(yield) %>
  </div>
<% end %>
