<% items.each_with_index do |item, index| %>
  <% link_to item[:link], class: "db mw7-l" do %>
    <div class="flex-ns mb2 mh1-ns ba b--mid-gray bg hover-bg-light-gray">
      <div class="flex w-50-ns order-<%= index.odd? ? 1 : 0 %>-ns">
        <div class="pa3">
          <h2 class="f3 display mb3"><%= item.title %></h2>
          <p class="f6"><%= item.comment %></p>
        </div>
      </div>
      <div class="flex w-50-ns order-<%= index.odd? ? 0 : 1 %>-ns ba bw2 b--mid-gray"
           style="background: url(<%= item.image %>); background-size: cover">
        <%= image_tag item.image, class: "o-0 h4-5", alt: "#{item.title} image" %>
      </div>
    </div>
  <% end %>
<% end %>
