<div id="live-toggle" class="col-md-12 live">
  <div class="row">
    <div class="col-md-12">
      <div class="entry status">
        <div class="entry-body">
          <p class="text-center">
            <%= partial('partials/status') %>
          </p>
          <p class="profiles">
            <%= partial('partials/profiles') %>
          </p>
          <p class="text-center">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:me@charlieegan3.com">
            me@charlieegan3.com
            </a>
            &nbsp;&nbsp;
            <span id="location-section">
              <span class="glyphicon glyphicon-map-marker"></span>
              <span id="location-name"></span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 incomplete">
      <div class="entry twitter">
        <div class="entry-body">
          <a href="#" id="twitter-link">
          <p class="tweet" id="twitter-content">
          </p></a>

          <p class="meta">
            <a href="http://twitter.com/charlieegan3" target="_blank">
          	  <%= image_tag "twitter.jpg", class: "social-icon small" %>
          	</a>
          	<span id="twitter-meta"></span>
          </p>
        </div>
      </div>

      <div class="entry lastfm">
        <div class="entry-body">
          <a href="#" id="lastfm-link">
          <div class="row">
            <div class="col-xs-3">
              <%= image_tag "https://upload.wikimedia.org/wikipedia/en/4/48/Blank.JPG", id: "lastfm-image" %>
            </div>

            <div class="col-xs-9">
              <p class="track" id="lastfm-track">
              </p>

              <p class="artist" id="lastfm-artist">
              </p>
            </div>
          </div></a>

          <p class="meta">
          	<a href="http://www.last.fm/user/charlieegan3" target="_blank">
          	  <%= image_tag "lastfm.jpg", class: "social-icon small" %>
          	</a>
          	<span id="lastfm-meta"></span>
          </p>
        </div>
      </div>

      <div class="entry games">
        <div class="entry-body" id="games-box">
        </div>
      </div>
    </div>

    <div class="col-md-6 incomplete">
      <div class="entry strava">
        <div class="entry-body">
          <a href="#" id="strava-link">
          <div class="row">
            <div class="col-xs-4">
              <p class="distance-block"><span class="distance" id=
              "strava-distance"></span><span>km</span>
              </p>

              <p class="ytd-distance-block"><span class="ytd">YTD</span><span class="distance" id=
              "strava-ytd"></span><span>km</span>
              </p>
            </div>

            <div class="col-xs-8">
              <p class="name" id="strava-name">
              </p>

              <p class="time" id="strava-duration">
              </p>
            </div>
          </div></a>

          <p class="meta">
          	<a href="https://www.strava.com/athletes/charlieegan3">
              <%= image_tag "strava.jpg", class: "social-icon small" %>
          	</a>
          	<span id="strava-meta"></span>
          </p>
        </div>
      </div>

      <div class="entry github">
        <div class="entry-body">
          <a href="#" id="github-link">
          <p class="commit" id="github-message">
          </p></a>

          <p class="meta">
          	<a href="http://github.com/charlieegan3" target="_blank">
          	  <%= image_tag "gh.jpg", class: "social-icon small" %>
          	</a>
          	<span id="github-meta"></span>
          </p>
        </div>
      </div>

      <div class="entry film">
        <div class="entry-body">
          <a href="#" id="film-link">
          <div class="row">
            <div class="col-xs-3">
              <%= image_tag "https://upload.wikimedia.org/wikipedia/en/4/48/Blank.JPG", id: "film-cover" %>
            </div>

            <div class="col-xs-9">
              <p class="track" id="film-title">
              </p>
            </div>
          </div></a>

          <p class="meta">
            <a href="https://letterboxd.com/charlieegan3" target="_blank">
              <%= image_tag "letterboxd.png", class: "social-icon small" %>
            </a>
            <span id="film-meta"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 incomplete live">
  <div class="entry instagram">
    <div class="entry-body">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/en/4/48/Blank.JPG", id: "instagram-image" %>

      <p class="meta">
        <a href="http://instagram.com/charlieegan3" target="_blank">
          <%= image_tag "insta.jpg", class: "social-icon small" %>
        </a>
        <span id="instagram-meta"></span>
      </p>
    </div>
  </div>

  <div class="entry parkrun">
    <div class="entry-body">
      <p><span id="parkrun-time"></span><span id="at">at&nbsp;</span><a href="#" id=
      "parkrun-link"></a>
      </p>

      <p class="meta">
        <a href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706" target="_blank">
          <%= image_tag "parkrun.jpg", class: "social-icon small" %>
        </a>
        <span id="parkrun-ago"></span>
      </p>
    </div>
  </div>

  <div class="entry hacker-news">
    <div class="entry-body">
      <p><a href="#" id="hackernews-comments-link"></a><a href="#" id=
      "hackernews-external-link"><span class="glyphicon glyphicon-new-window"></span></a>
      </p>

      <p class="meta">
        <a href="https://news.ycombinator.com/user?id=charlieegan3" target="_blank">
          <%= image_tag "hn.jpg", class: "social-icon small" %>
        </a>
        <span id="hackernews-ago"></span>
      </p>
    </div>
  </div>
</div>
