<p class="profiles">
  <a href="http://github.com/charlieegan3" target="_blank">
    <%= image_tag "gh.jpg", class: "social-icon" %>
  </a>
  <a href="http://twitter.com/charlieegan3" target="_blank">
    <%= image_tag "twitter.jpg", class: "social-icon" %>
  </a>
  <a href="http://instagram.com/charlieegan3" target="_blank">
    <%= image_tag "insta.jpg", class: "social-icon" %>
  </a>
  <a href="http://stackoverflow.com/users/1510063/charlie-egan" target="_blank">
    <%= image_tag "so.jpg", class: "social-icon" %>
  </a>
  <a href="https://news.ycombinator.com/item?id=9045677" target="_blank">
    <%= image_tag "notlinked.jpg", class: "social-icon" %>
  </a>
  <a href="http://www.last.fm/user/charlieegan3" target="_blank">
    <%= image_tag "lastfm.jpg", class: "social-icon" %>
  </a>
  <a href="https://letterboxd.com/charlieegan3" target="_blank">
    <%= image_tag "letterboxd.png", class: "social-icon" %>
  </a>
  <a href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=358706" target="_blank">
    <%= image_tag "parkrun.jpg", class: "social-icon" %>
  </a>
  <a href="https://www.strava.com/athletes/charlieegan3">
    <%= image_tag "strava.jpg", class: "social-icon" %>
  </a>
  <a href="https://news.ycombinator.com/user?id=charlieegan3">
    <%= image_tag "hn.jpg", class: "social-icon" %>
  </a>
  <a href="http://forums.macrumors.com/members/charlieegan3.669532/" target="_blank">
    <%= image_tag "macrumors.jpg", class: "social-icon" %>
  </a>
  <a href="http://www.producthunt.com/charlieegan3" target="_blank">
    <%= image_tag "ph.jpg", class: "social-icon" %>
  </a>
  <a href="https://open.kattis.com/users/charlie" target="_blank">
    <%= image_tag "kattis.jpg", class: "social-icon" %>
  </a>
  <a href="https://scholar.google.co.uk/citations?user=pqb-ZNAAAAAJ&hl=en" target="_blank">
    <%= image_tag "scholar.png", class: "social-icon" %>
  </a>
  <a href="http://steamcommunity.com/id/charlieegan3" target="_blank">
    <%= image_tag "steam.png", class: "social-icon" %>
  </a>
  <a href="http://eu.battle.net/sc2/en/profile/5512289/1/TartanTurtle/" target="_blank">
    <%= image_tag "sc2.png", class: "social-icon" %>
  </a>
  <a href="https://my.playstation.com/TartanTurtle" target="_blank">
    <%= image_tag "ps.png", class: "social-icon" %>
  </a>
  <a href="https://halo.bungie.net/stats/reach/default.aspx?player=tartan%20turtle" target="_blank">
    <%= image_tag "bungie.jpg", class: "social-icon" %>
  </a>

  <a href="https://charlieegan3.com/feed.rss" target="_blank" style="display: none;">
    RSS
  </a>
</p>
