---
papers:
  - title: Summarising the points made in online political debates
    comment: Paper accepted at the 3rd Workshop on Argument Mining (ACl 2016)
    link: https://scholar.google.co.uk/citations?view_op=view_citation&hl=en&user=pqb-ZNAAAAAJ&citation_for_view=pqb-ZNAAAAAJ:u5HHmVD_uO8C
    image: /words/acl2016.png

  - title: The effect of query length and search engine identity on computerised spelling correction of corrupted queries
    comment: Write up of search engine performance on corrupted queries
    link: /words/query_corruption_2016.pdf
    image: /words/query_corruption_2016.png

  - title: An argumentation-based approach to summarizing discussions
    comment: Honours project thesis. Foundational work for the ACL paper
    link: /words/thesis.pdf
    image: /words/thesis.png

  - title: Security discussion of the Heroku PaaS
    comment: As part of a my security course I wrote up a risk assessment of hosting on the Heroku Platform
    link: /words/heroku_ra_2016.pdf
    image: /words/heroku_ra_2016.png
---
<% content_for :page_title do %>
  Charlie<span class="white">egan3</span>
<% end %>

<% content_for :page_subtitle do %>
  I sometimes cobble together blog posts before forgetting things.
<% end %>

<%= partial "partials/_top_menu" %>

<% popular_posts = page_articles(blog_name = "blog")
                     .select { |a| a.data[:featured] }
                     .sort_by { |a| a.data[:featured] }
                     .take(5) %>

<% recent_posts  = page_articles(blog_name = "blog")
                     .sort_by { |a| a.date }
                     .reverse
                     .take(5) %>

<div class="cf">
  <div class="fl w-100 w-25-l">
    <div class="ba b--mid-gray mh1-ns">
      <div class="f3 raleway ba b--mid-gray bw2 tc pa2">
        Popular Posts
      </div>
      <div class="pa2">
        <%= partial("partials/_post_list", locals: { posts: popular_posts, show_year: true }) %>
      </div>
    </div>
  </div>

  <div class="fl w-100 w-25-l mt2 mt0-l">
    <div class="ba b--mid-gray mh1-ns">
      <div class="f3 raleway ba b--mid-gray bw2 tc pa2">
        Recent Posts
      </div>
      <div class="pa2">
        <%= partial("partials/_post_list", locals: { posts: recent_posts, show_year: false }) %>
        <div class="mt3 mb2">
          <%= link_to "All Blog Posts", "/blog", class: "pa1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray" %>
          <%= link_to "RSS", "/feed.rss", target: "_blank", class: "pa1 tc ba bw2 b--mid-gray bg-animate hover-bg-light-gray" %>
        </div>
      </div>
    </div>
  </div>

  <div class="fl w-100 w-50-l mt2 mt0-l">
      <%= partial("partials/item_list",
                  locals: { items: current_page.data.papers }) %>
  </div>
</div>
