<div class="line"></div>

<div class="row live-block">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <%= partial('partials/live_row') %>
    </div>
    <p class="text-center live">
      <%= link_to "Blog", "/blog" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "Articles", "/articles" %>
    </p>
    <p class="text-center live">
      Timeline
    </p>
  </div>
</div>

<% page_articles(blog_name = 'timeline').group_by { |a| a.date.strftime('%Y') }.to_a.each_with_index do |year_articles, index| %>
  <% year, articles = year_articles %>

  <div class="row">
    <div class="col-md-2 col-md-offset-5 text-center">
      <p class="year-label">
        <span class="year-label"><%= year %></span>
      </p>
    </div>
  </div>

  <div class="row">
    <% if articles.size > 1 %>
      <% [even_values(articles), odd_values(articles)].each_with_index do |group, i| %>
        <div class="col-md-6">
          <% group.each do |article| %>
            <div class="row <%= index > 0 ? 'later' : '' %>">
              <% size = article.metadata[:page][:width] || 12 %>
              <div class="<%= i == 0 && size < 12 ? "col-md-#{size.to_i} col-md-offset-#{12 - size.to_i}" : "col-md-#{size.to_i}" %>">
                <%= partial("partials/entry", locals: { article: article, index: i }) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-6 col-md-offset-3">
        <%= partial("partials/entry", locals: { article: articles.first, index: 1 }) %>
      </div>
    <% end %>
  </div>
<% end %>
